/*BCP-back-cloud-config*/
{
  "steps": [
     {
        "name": "gcr.io/cloud-builders/docker",
        "args": [
           "build",
           "-t",
           "gcr.io/todoapp-340315/backendgcp:$COMMIT_SHA", "."
        ]
     },
     {
      "name": "gcr.io/cloud-builders/docker",
      "args": [
         "push",
         "gcr.io/todoapp-340315/backendgcp:$COMMIT_SHA"
      ]
   },
   {
      "name": "gcr.io/cloud-builders/gcloud",
      "args": [
         "run",
         "deploy",
         "backendgcp",
          "--image",
          "gcr.io/todoapp-340315/backendgcp:$COMMIT_SHA",
           "--region", "us-central1", "--platform", "managed", "--allow-unauthenticated"
      ]
   }
  ],
  "images": ["gcr.io/todoapp-340315/backendgcp:$COMMIT_SHA"]
}

 /*ECP-back-cloud-config*/